// background
$bg_gray_light: #f3f3f3
$bg_green: #4cb321
$bg_white: #ffffff

// borders
$border_gray_light: #cdcdcd
$border_white: #fff

// text
$txt_white: #ffffff
$txt_gray_light: #cdcdcd
$txt_gray_medium: #999999
$txt_gray_dark: #232323
$txt_green: #32A800