// modules -------------------------------------------------------------------
// note: currently profile specific but built modularly

// cover

body.profile
  section.cover
    position: relative
    height: 282px
    margin-bottom: 19px
    padding: 19px
    +single-box-shadow(rgba(128, 128, 128, .4), 0, 3px, 5px, 0)
    .user
      +inline-block
      padding: 12px
      background: rgba(0, 0, 0, .85)
      img
        +float-left
        width: 114px
        height: 114px
        margin-right: 12px
      .info
        +float-left
      header
        +float-left
        clear: both
        margin: 0 24px 7px 0
      h1, h2
        +din-regular
      h1
        color: $txt_white
        font-size: 30px
        margin-bottom: 3px
      h2
        color: $txt_gray_medium
        font-size: 24px
      .quote
        display: block
        clear: left
        max-width: 320px
        padding: 5px 0 0 27px
        line-height: 1.4em
        background: image-url("icons/quote.png") top left no-repeat
        +museo-slab-italic
        color: $txt_gray_light
      .badge
        +float-right

    // cover form
    form.light
      display: none
      position: absolute
      top: 0
      left: 0
      z-index: 2
      background: #e3e3e3
      border-top: 1px solid $border_gray_light
      .body
        width: 1002px
        height: 229px
        padding: 15px 19px
        border-bottom: 1px solid #aaa
      label
        margin-bottom: 8px
        color: $txt_gray_dark
        font-style: normal
        span
          color: $txt_gray_medium
          font-style: italic
      input, textarea
        width: 360px
      input
        height: 20px
        &[type="file"]
          width: 180px
          padding-top: 6px
      textarea
        height: 60px
      fieldset
        float: left
        width: 238px
        margin-right: 16px
        &.avatar
          label
            margin-bottom: 8px
          img
            margin-bottom: 7px
        &.information
          width: 492px
          margin-bottom: 10px
        &.cover
          position: relative
          margin-right: 0
          img
            display: block
            margin-bottom: 16px
        &.buttons
          width: 1002px
          height: 47px
          padding: 10px 19px 0
          border-top: 1px solid #fff
          border-bottom: 1px solid #aaa          
          clear: both
          button
            padding: 6px 20px
            font-size: 18px

// profile -------------------------------------------------------------------
// note: styles specific to profile only

body.profile
  #page
    background: #f3f3f3
  .imagery
    +clearfix
    +float-left
    width: 762px
    .boxes
      position: relative
      left: 1px
      width: 762px
  .highlight
    margin-top: 2px

  .personal
    position: relative
    +float-right
    width: 240px
    padding-top: 55px
    .dropdown
      position: absolute
      top: 2px
      right: 1px
    .box
      position: relative
      left: 1px
    form.light
      display: none