.comment
  display: block
  padding-left: 17px
  +din-regular
  color: #656565
  font-size: 12px
  text-decoration: none
  background: image-url("icons/16px/comment.png") top left no-repeat

.like
  display: block
  padding-left: 17px
  +din-regular
  color: #656565
  font-size: 12px
  text-decoration: none
  background: image-url("icons/16px/like.png") top left no-repeat
