.pie-element {
  behavior: url("/stylesheets/application/browsers/PIE.htc");
  position: relative;
}

.pie-container, .widget {
  z-index: 0;
  position: relative;
}

.z-pie-element, .widget h3 {
  behavior: url("/stylesheets/application/browsers/PIE.htc");
  z-index: 0;
}
