$footer_height: 88px


html
  background-color: #000
  +background-image(linear-gradient(#000, #fff))

#layout
  width: 1040px
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto 
  margin-bottom: -$footer_height
  overflow: hidden

#layout > header
  width: 1040px
  height: 122px
  background: image_url("temp/header.png")
  
#layout_footer
  height: $footer_height
  
#footer
  clear: both
  position: relative
  width: 1040px
  height: $footer_height
  margin: 0 auto
  background: image_url("temp/footer.png")
