html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "DINCondMediumRegular";
  src: url("../fonts/ff-din-condensed-med/ff_din_condensed_medium-webfont.eot");
  src: url("../fonts/ff-din-condensed-med/ff_din_condensed_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ff-din-condensed-med/ff_din_condensed_medium-webfont.woff") format("woff"), url("../fonts/ff-din-condensed-med/ff_din_condensed_medium-webfont.ttf") format("truetype"), url("../fonts/ff-din-condensed-med/ff_din_condensed_medium-webfont.svg#DINCondMediumRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINCondRegular";
  src: url("../fonts/ff-din-condensed-reg/ff_din_condensed_regular-webfont.eot");
  src: url("../fonts/ff-din-condensed-reg/ff_din_condensed_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ff-din-condensed-reg/ff_din_condensed_regular-webfont.woff") format("woff"), url("../fonts/ff-din-condensed-reg/ff_din_condensed_regular-webfont.ttf") format("truetype"), url("../fonts/ff-din-condensed-reg/ff_din_condensed_regular-webfont.svg#DINCondRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSlab500Italic";
  src: url("../fonts/museo-slab-italic/museo_slab_500italic-webfont.eot");
  src: url("../fonts/museo-slab-italic/museo_slab_500italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-slab-italic/museo_slab_500italic-webfont.woff") format("woff"), url("../fonts/museo-slab-italic/museo_slab_500italic-webfont.ttf") format("truetype"), url("../fonts/museo-slab-italic/museo_slab_500italic-webfont.svg#MuseoSlab500Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#000000, #ffffff);
  background-image: -moz-linear-gradient(#000000, #ffffff);
  background-image: -o-linear-gradient(#000000, #ffffff);
  background-image: -ms-linear-gradient(#000000, #ffffff);
  background-image: linear-gradient(#000000, #ffffff);
}

#layout {
  width: 1040px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -88px;
  overflow: hidden;
}

#layout > header {
  width: 1040px;
  height: 122px;
  background: url('/images/temp/header.png?1325611863');
}

#layout_footer {
  height: 88px;
}

#footer {
  clear: both;
  position: relative;
  width: 1040px;
  height: 88px;
  margin: 0 auto;
  background: url('/images/temp/footer.png?1325611863');
}

.badge {
  height: 35px;
  padding-left: 10px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  background: url('/images/badge/left.png?1325619235') top left no-repeat;
}
.badge span {
  display: block;
  height: 25px;
  padding: 5px 10px 5px 0;
  font-size: 18px;
  background: url('/images/badge/right.png?1325619898') top right no-repeat;
}

.grid {
  overflow: hidden;
  *zoom: 1;
  width: 1002px;
  margin: 0 auto;
  padding: 0 19px 19px;
}
.grid .group {
  clear: both;
  margin-bottom: 19px;
}
.grid .group header {
  margin: 0 15px 19px 0;
  padding-left: 2px;
}
.grid .group header h1 {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 6px 9px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  background: url('/images/patterns/bg_gray_diagonal.png?1325623130');
  -moz-box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.5);
  -o-box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.5);
}
.grid .group header h1 {
  *display: inline;
}
.grid .group header .highlight {
  display: inline;
  float: right;
  margin-right: 15px;
}
.grid .box {
  position: relative;
  display: block;
  display: inline;
  float: left;
  width: 212px;
  min-height: 24px;
  margin: 0 16px 16px 0;
  padding: 12px 12px 7px;
  background: white;
  border: 1px solid #cdcdcd;
  -moz-box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
  -o-box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
}
.grid .box header {
  position: absolute;
  top: 5px;
  left: -6px;
  height: 34px;
  padding: 5px 10px 0 8px;
  font-family: "DINCondMediumRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #232323;
  font-size: 14px;
  background: url('/images/patterns/bg_green_header.png?1325632611') top left no-repeat;
}
.grid .box .edit {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  width: 40px;
  height: 18px;
  padding-top: 6px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  background: #222222;
}
.grid .box .body {
  padding-bottom: 8px;
  font-family: "Arial", "Sans-serif";
  color: #343434;
  font-size: 13px;
  line-height: 1.5em;
}
.grid .box .thumbnail {
  position: relative;
  width: 212px;
}
.grid .box .thumbnail .image {
  display: block;
  line-height: 0;
}
.grid .box .thumbnail .image img {
  width: 212px;
}
.grid .box .thumbnail .edit {
  top: 0;
  right: 0;
  width: 40px;
  height: 19px;
  padding-top: 7px;
}
.grid .box .thumbnail p {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 6px 8px 7px;
  font-family: "Arial", "Sans-serif";
  font-size: 11px;
  line-height: 15px;
  color: white;
  background: #222222;
  cursor: pointer;
}
.grid .box footer {
  overflow: hidden;
  *zoom: 1;
  padding-top: 8px;
}
.grid .box footer a {
  padding-left: 17px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #656565;
  font-size: 12px;
  text-decoration: none;
}
.grid .box footer .comment {
  display: inline;
  float: left;
}
.grid .box footer .like {
  display: inline;
  float: right;
}

.box.links ul {
  margin-right: -7px;
}
.box.links li {
  display: block;
  float: left;
  margin: 0 7px 7px 0;
}
.box.links li a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-position: top left;
  background-repeat: no-repeat;
}
.box.links li.about a {
  background: url('/images/icons/social/aboutme.png?1319748689');
}
.box.links li.blogger a {
  background: url('/images/icons/social/blogger.png?1319748689');
}
.box.links li.facebook a {
  background: url('/images/icons/social/facebook.png?1319748689');
}
.box.links li.flickr a {
  background: url('/images/icons/social/flickr.png?1319748689');
}
.box.links li.google a {
  background: url('/images/icons/social/google_plus.png?1319748689');
}
.box.links li.linked_in a {
  background: url('/images/icons/social/linkedin.png?1319748689');
}
.box.links li.pinterest a {
  background: url('/images/icons/social/pinterest.png?1319748689');
}
.box.links li.portfolio a {
  background: url('/images/icons/social/portfolio.png?1319748689');
}
.box.links li.tumblr a {
  background: url('/images/icons/social/tumblr.png?1319748689');
}
.box.links li.twitter a {
  background: url('/images/icons/social/twitter.png?1319748689');
}
.box.links li.website a {
  background: url('/images/icons/social/website.png?1319748689');
}
.box.links li.wordpress a {
  background: url('/images/icons/social/wordpress.png?1319748689');
}

.box.products .body {
  padding-top: 2px;
}
.box.products .body li {
  overflow: hidden;
  *zoom: 1;
  display: block;
  clear: both;
  margin-bottom: 12px;
}
.box.products .body li:last-child {
  margin-bottom: 6px;
}
.box.products .body li figure {
  display: inline;
  float: left;
  margin-right: 10px;
  padding: 1px;
  border: 1px solid #dcdcdc;
}
.box.products .body li img {
  display: block;
  width: 40px;
  height: 40px;
}
.box.products .body li figcaption {
  display: inline;
  float: left;
  max-width: 155px;
  padding-top: 5px;
}
.box.products .body li a {
  display: block;
  color: #343434;
  text-decoration: none;
  line-height: 1.2em;
  text-decoration: none;
}
.box.products .body li a:hover {
  text-decoration: underline;
}

.box.seeking .body ul {
  list-style: disc;
  list-style-position: inside;
}
.box.seeking .body li {
  margin-bottom: 12px;
}
.box.seeking .body li:last-child {
  margin-bottom: 6px;
}

.box.sites .body li {
  position: relative;
  margin-bottom: 12px;
}
.box.sites .body li:last-child {
  margin-bottom: 6px;
}
.box.sites .body li a {
  display: block;
  color: #343434;
  text-decoration: none;
  line-height: 1.2em;
}
.box.sites .body li a.delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.box.sites .body li:hover a.delete {
  display: block;
}
.box.sites .body li span {
  display: block;
  clear: both;
  color: #a3a3a3;
  font-size: 11px;
  text-decoration: underline;
}

.box.sites form fieldset, .box.seeking form fieldset, .box.products form fieldset {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #cdcdcd;
}
.box.sites form fieldset input, .box.seeking form fieldset input, .box.products form fieldset input {
  margin-bottom: 5px;
}
.box.sites form fieldset a.delete, .box.seeking form fieldset a.delete, .box.products form fieldset a.delete {
  display: none;
  position: absolute;
  top: 6px;
  right: 0;
}
.box.sites form fieldset:hover a.delete, .box.seeking form fieldset:hover a.delete, .box.products form fieldset:hover a.delete {
  display: block;
}
.box.sites form fieldset:nth-child(2), .box.seeking form fieldset:nth-child(2), .box.products form fieldset:nth-child(2) {
  border-top: 0;
}
.box.sites form fieldset.buttons, .box.seeking form fieldset.buttons, .box.products form fieldset.buttons {
  padding-top: 12px;
}

.box.with_header {
  padding-top: 40px;
}

a.button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 5px 12px 4px;
  font-family: "DINCondMediumRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #4c4b4b;
  font-size: 18px;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #cecece));
  background-image: -webkit-linear-gradient(#f7f7f7, #cecece);
  background-image: -moz-linear-gradient(#f7f7f7, #cecece);
  background-image: -o-linear-gradient(#f7f7f7, #cecece);
  background-image: -ms-linear-gradient(#f7f7f7, #cecece);
  background-image: linear-gradient(#f7f7f7, #cecece);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #bebebe;
}
a.button {
  *display: inline;
}
a.button span {
  display: block;
  height: 20px;
}
a.button:hover {
  color: white;
  text-shadow: rgba(76, 75, 75, 0.7) 1px 1px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlZjA2MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhYmMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ef063), color-stop(100%, #3abc00));
  background-image: -webkit-linear-gradient(#8ef063, #3abc00);
  background-image: -moz-linear-gradient(#8ef063, #3abc00);
  background-image: -o-linear-gradient(#8ef063, #3abc00);
  background-image: -ms-linear-gradient(#8ef063, #3abc00);
  background-image: linear-gradient(#8ef063, #3abc00);
  border: 1px solid #37b300;
}

a.button.highlight {
  color: white;
  text-shadow: rgba(76, 75, 75, 0.7) 1px 1px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlZjA2MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhYmMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ef063), color-stop(100%, #3abc00));
  background-image: -webkit-linear-gradient(#8ef063, #3abc00);
  background-image: -moz-linear-gradient(#8ef063, #3abc00);
  background-image: -o-linear-gradient(#8ef063, #3abc00);
  background-image: -ms-linear-gradient(#8ef063, #3abc00);
  background-image: linear-gradient(#8ef063, #3abc00);
  border: 1px solid #37b300;
}

a.button.small {
  height: 15px;
  padding: 4px 10px 3px;
  font-size: 14px;
}

a.button.random {
  padding-right: 0;
}
a.button.random span {
  padding-right: 36px;
  background: url('/images/icons/buttons/shuffle.png?1325718627') right 1px no-repeat;
}
a.button.random:hover span {
  background-image: url('/images/icons/buttons/shuffle-hover.png?1325718565');
}

.dropdown {
  z-index: 2;
}
.dropdown a.button {
  padding: 0;
}
.dropdown a.button:hover {
  color: #4c4b4b;
  text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #cecece));
  background-image: -webkit-linear-gradient(#f7f7f7, #cecece);
  background-image: -moz-linear-gradient(#f7f7f7, #cecece);
  background-image: -o-linear-gradient(#f7f7f7, #cecece);
  background-image: -ms-linear-gradient(#f7f7f7, #cecece);
  background-image: linear-gradient(#f7f7f7, #cecece);
  border: 1px solid #bebebe;
}
.dropdown a.button span {
  padding: 5px 12px 4px;
}
.dropdown a.button span.text {
  display: inline;
  float: left;
  height: 20px;
  border-right: 1px solid #bebebe;
}
.dropdown a.button span.arrow {
  display: inline;
  float: right;
  width: 20px;
  height: 29px;
  padding: 0;
  padding-left: 6px;
  background: url('/images/icons/buttons/arrow-down.png?1325724942') right 11px no-repeat;
  border-left: 1px solid white;
}
.dropdown ul {
  display: none;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #bebebe;
  border-top: 0;
}
.dropdown ul li {
  display: block;
  background: #eeeeee;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #cdcdcd;
}
.dropdown ul li:first-child {
  border-top: 0;
}
.dropdown ul li:last-child {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 0;
}
.dropdown ul li a {
  display: block;
  height: 16px;
  padding: 5px 0 4px 12px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  font-size: 15px;
  color: #666666;
  text-decoration: none;
}
.dropdown ul li:hover {
  background: white;
}

.dropdown.active {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
.dropdown.active .button {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
#facebox .popup {
  position: relative;
  margin-bottom: 100px;
  border: 3px solid rgba(0, 0, 0, 0);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
}
#facebox .content {
  display: block;
  padding: 24px 24px 15px;
  background: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
#facebox .content > p:first-child {
  margin-top: 0;
}
#facebox .content > p:last-child {
  margin-bottom: 0;
}
#facebox .close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 8px;
  height: 8px;
  padding: 2px;
  background: url('/images/facebox/close-light.png?1320253384') top right no-repeat;
  opacity: 0.3;
}
#facebox .close:hover {
  opacity: 1;
}
#facebox .loading {
  text-align: center;
}
#facebox .image {
  text-align: center;
}
#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.facebox_hide {
  z-index: -100;
}

.facebox_overlayBG {
  background-color: black;
  z-index: 99;
}

form.light legend,
form.dark legend {
  margin-bottom: 24px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  font-size: 24px;
}
form.light label,
form.dark label {
  display: block;
  margin-bottom: 5px;
  font-family: "Arial", "Sans-serif";
  font-size: 12px;
  font-style: italic;
  line-height: 1.4em;
}
form.light label.hint,
form.dark label.hint {
  margin-bottom: 8px;
  font-style: normal;
}
form.light label.required:before,
form.dark label.required:before {
  content: "*";
  color: #32a800;
}
form.light input,
form.dark input {
  width: 202px;
  height: 16px;
  margin-bottom: 6px;
  padding: 3px 4px 4px;
  color: #444444;
  background: #fcfcfc;
  border: 1px solid #cdcdcd;
  -moz-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
form.light input[type="file"],
form.dark input[type="file"] {
  margin-top: 2px;
}
form.light textarea,
form.dark textarea {
  width: 202px;
  min-height: 50px;
  margin-bottom: 6px;
  padding: 4px;
  font-family: "Arial", "Sans-serif";
  color: #444444;
  line-height: 1.4em;
  background: #fcfcfc;
  border: 1px solid #cdcdcd;
  -moz-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
form.light .add,
form.dark .add {
  display: block;
  margin-bottom: 12px;
  font-family: "Arial", "Sans-serif";
  color: #32a800;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
}
form.light .add:hover,
form.dark .add:hover {
  text-decoration: underline;
}
form.light fieldset label,
form.dark fieldset label {
  margin-bottom: 2px;
}
form.light fieldset input,
form.dark fieldset input {
  margin-bottom: 10px;
}
form.light fieldset.template,
form.dark fieldset.template {
  display: none;
}
form.light fieldset.buttons,
form.dark fieldset.buttons {
  padding: 5px 0 4px;
}
form.light fieldset.buttons button,
form.dark fieldset.buttons button {
  margin-right: 8px;
  padding: 5px 15px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 0;
}
form.light fieldset.buttons button:hover,
form.dark fieldset.buttons button:hover {
  background: #4cb321;
}
form.light fieldset.buttons .cancel,
form.dark fieldset.buttons .cancel {
  font-family: "Arial", "Sans-serif";
  font-size: 12px;
  text-decoration: none;
  text-decoration: none;
}
form.light fieldset.buttons .cancel:hover,
form.dark fieldset.buttons .cancel:hover {
  text-decoration: underline;
}
form.light fieldset.buttons .delete_image,
form.dark fieldset.buttons .delete_image {
  display: inline;
  float: right;
  padding-top: 15px;
  font-family: "Arial", "Sans-serif";
  color: #232323;
  font-size: 12px;
  text-decoration: none;
  text-decoration: none;
}
form.light fieldset.buttons .delete_image:hover,
form.dark fieldset.buttons .delete_image:hover {
  text-decoration: underline;
}
form.light fieldset.buttons .delete_image:hover,
form.dark fieldset.buttons .delete_image:hover {
  color: red;
}

form.light legend {
  color: #232323;
}
form.light label {
  color: #888888;
}
form.light label.hint {
  color: #232323;
}
form.light fieldset.buttons button {
  background: #1f1f1f;
}
form.light fieldset.buttons .cancel {
  color: #232323;
}

form.dark legend {
  color: white;
}
form.dark label {
  color: #888888;
}
form.dark label.hint {
  color: #cdcdcd;
}
form.dark fieldset.buttons button {
  background: #4cb321;
}
form.dark fieldset.buttons .cancel {
  color: #cdcdcd;
}

.comment {
  display: block;
  padding-left: 17px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #656565;
  font-size: 12px;
  text-decoration: none;
  background: url('/images/icons/16px/comment.png?1325623661') top left no-repeat;
}

.view_comments {
  display: block;
  padding-left: 17px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #656565;
  font-size: 12px;
  text-decoration: none;
  background: url('/images/icons/16px/comment.png?1325623661') top left no-repeat;
}

.delete {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/icons/16px/delete.png?1326170733');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: top left;
  background-repeat: no-repeat;
}
.delete:hover {
  background-position: bottom left;
}

.like {
  display: block;
  padding-left: 17px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #656565;
  font-size: 12px;
  text-decoration: none;
  background: url('/images/icons/16px/like.png?1325623661') top left no-repeat;
}
.like span {
  color: #aaaaaa;
}

nav.page {
  height: 37px;
  padding: 0 19px;
  background: #f3f3f3;
}
nav.page a.button {
  float: left;
}
nav.page a.button.small {
  margin-top: 6px;
}
nav.page aside {
  float: right;
  padding-top: 13px;
  font-family: "Arial", "Sans-serif";
  font-size: 12px;
  color: #444444;
}
nav.page aside a {
  color: #444444;
}
nav.page aside a:hover {
  color: #32a800;
}

.popup form.light,
.popup form.dark {
  display: block;
}
.popup form.light fieldset,
.popup form.dark fieldset {
  margin-bottom: 10px;
}
.popup form.light fieldset.buttons,
.popup form.dark fieldset.buttons {
  padding: 8px 0 0;
}
.popup form.light fieldset.buttons button,
.popup form.dark fieldset.buttons button {
  padding: 6px 20px;
  font-size: 18px;
}

#add_imagery {
  display: none;
}

#facebox.add_imagery .content {
  width: 410px;
}
#facebox.add_imagery .content form.light label {
  color: #232323;
  font-style: normal;
}
#facebox.add_imagery .content form.light label span {
  color: #888888;
  font-style: italic;
}
#facebox.add_imagery .content form.light label span.tip {
  display: block;
}
#facebox.add_imagery .content form.light input, #facebox.add_imagery .content form.light textarea {
  width: 400px;
}
#facebox.add_imagery .content form.light select {
  width: 410px;
  margin-bottom: 12px;
}

#view_imagery {
  display: none;
}

#facebox.view_imagery .popup {
  border: 3px solid rgba(255, 255, 255, 0.2);
}
#facebox.view_imagery .close {
  background: url('/images/facebox/close-dark.png?1325806532') top right no-repeat;
}
#facebox.view_imagery .content {
  width: 960px;
  background: black;
}
#facebox.view_imagery .content header {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 18px;
}
#facebox.view_imagery .content header h1 {
  display: inline;
  float: left;
  display: block;
  width: 700px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 24px;
}
#facebox.view_imagery .content header aside {
  display: inline;
  float: right;
  padding-top: 2px;
}
#facebox.view_imagery .content header aside a {
  display: inline;
  float: right;
  height: 15px;
  margin-left: 5px;
  padding: 3px 8px 3px 25px;
  font-size: 15px;
  background-color: white;
  background-position: 7px 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
#facebox.view_imagery .content figure {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 30px;
}
#facebox.view_imagery .content figure img {
  max-width: 960px;
}
#facebox.view_imagery .content figure li {
  background: red;
}
#facebox.view_imagery .content figure li a {
  display: inline;
  float: left;
  display: block;
  width: 48.9%;
  padding: 5px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background: #171717;
}
#facebox.view_imagery .content figure li a:hover {
  color: #232323;
  background: #f3f3f3;
}
#facebox.view_imagery .content figure li:last-child a {
  display: inline;
  float: right;
  text-align: right;
}
#facebox.view_imagery .content figcaption {
  margin-bottom: 30px;
}
#facebox.view_imagery .content figcaption h2 {
  margin-bottom: 14px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 24px;
}
#facebox.view_imagery .content figcaption p {
  width: 650px;
  font-family: "Arial", "Sans-serif";
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
}
#facebox.view_imagery .content .comments h1 {
  margin-bottom: 22px;
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 24px;
}
#facebox.view_imagery .content .comments h1 span {
  color: #999999;
}
#facebox.view_imagery .content .comments ul {
  margin-bottom: 30px;
}
#facebox.view_imagery .content .comments li {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  width: 600px;
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #1c1c1c;
}
#facebox.view_imagery .content .comments li:last-child {
  border-bottom: 0;
}
#facebox.view_imagery .content .comments a.user.small {
  display: inline;
  float: left;
  margin-right: 14px;
}
#facebox.view_imagery .content .comments .details {
  display: inline;
  float: left;
  width: 550px;
}
#facebox.view_imagery .content .comments .details p {
  width: 550px;
  font-family: "Arial", "Sans-serif";
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
}
#facebox.view_imagery .content .comments .details p a {
  margin-right: 6px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#facebox.view_imagery .content .comments .details p a:hover {
  text-decoration: underline;
}
#facebox.view_imagery .content .add_comment {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 30px;
}
#facebox.view_imagery .content form.light legend {
  color: white;
}
#facebox.view_imagery .content form.light a.user.small {
  margin-top: 10px;
}
#facebox.view_imagery .content form.light .speech_bubble {
  display: inline;
  float: left;
  position: relative;
  padding: 20px 20px 10px;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
#facebox.view_imagery .content form.light .speech_bubble .triangle {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid white;
  font-size: 0px;
  line-height: 0px;
}
#facebox.view_imagery .content form.light .speech_bubble textarea {
  width: 504px;
  min-height: 60px;
}
#facebox.view_imagery .content form.light fieldset.buttons {
  clear: both;
  padding-bottom: 0;
}

a.user.small {
  display: block;
  width: 28px;
  height: 28px;
  padding: 1px;
  border: 1px solid #999999;
}
a.user.small img {
  display: block;
  width: 28px;
  height: 28px;
}

body.profile section.cover {
  position: relative;
  height: 282px;
  margin-bottom: 19px;
  padding: 19px;
  -moz-box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
  -webkit-box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
  -o-box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
  box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
}
body.profile section.cover .user {
  display: inline-block;
  padding: 12px;
  background: rgba(0, 0, 0, 0.85);
}
body.profile section.cover .user img {
  display: inline;
  float: left;
  width: 114px;
  height: 114px;
  margin-right: 12px;
}
body.profile section.cover .user .info {
  display: inline;
  float: left;
}
body.profile section.cover .user header {
  display: inline;
  float: left;
  clear: both;
  margin: 0 24px 7px 0;
}
body.profile section.cover .user h1, body.profile section.cover .user h2 {
  font-family: "DINCondRegular", "Arial", "Sans-serif";
  text-transform: uppercase;
}
body.profile section.cover .user h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 3px;
}
body.profile section.cover .user h2 {
  color: #999999;
  font-size: 24px;
}
body.profile section.cover .user .quote {
  display: block;
  clear: left;
  max-width: 320px;
  padding: 5px 0 0 27px;
  line-height: 1.4em;
  background: url('/images/icons/quote.png?1325618598') top left no-repeat;
  font-family: "MuseoSlab500Italic", "Georgia", "Serif";
  color: #cdcdcd;
}
body.profile section.cover .user .badge {
  display: inline;
  float: right;
}
body.profile section.cover form.light {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #e3e3e3;
  border-top: 1px solid #cdcdcd;
}
body.profile section.cover form.light .body {
  width: 1002px;
  height: 229px;
  padding: 15px 19px;
  border-bottom: 1px solid #aaaaaa;
}
body.profile section.cover form.light label {
  margin-bottom: 8px;
  color: #232323;
  font-style: normal;
}
body.profile section.cover form.light label span {
  color: #999999;
  font-style: italic;
}
body.profile section.cover form.light input, body.profile section.cover form.light textarea {
  width: 360px;
}
body.profile section.cover form.light input {
  height: 20px;
}
body.profile section.cover form.light input[type="file"] {
  width: 180px;
  padding-top: 6px;
}
body.profile section.cover form.light textarea {
  height: 60px;
}
body.profile section.cover form.light fieldset {
  float: left;
  width: 238px;
  margin-right: 16px;
}
body.profile section.cover form.light fieldset.avatar label {
  margin-bottom: 8px;
}
body.profile section.cover form.light fieldset.avatar img {
  margin-bottom: 7px;
}
body.profile section.cover form.light fieldset.information {
  width: 492px;
  margin-bottom: 10px;
}
body.profile section.cover form.light fieldset.cover {
  position: relative;
  margin-right: 0;
}
body.profile section.cover form.light fieldset.cover img {
  display: block;
  margin-bottom: 16px;
}
body.profile section.cover form.light fieldset.buttons {
  width: 1002px;
  height: 47px;
  padding: 10px 19px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #aaaaaa;
  clear: both;
}
body.profile section.cover form.light fieldset.buttons button {
  padding: 6px 20px;
  font-size: 18px;
}

body.profile #page {
  background: #f3f3f3;
}
body.profile .imagery {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  width: 762px;
}
body.profile .imagery .boxes {
  position: relative;
  left: 1px;
  width: 762px;
}
body.profile .highlight {
  margin-top: 2px;
}
body.profile .personal {
  position: relative;
  display: inline;
  float: right;
  width: 240px;
  padding-top: 55px;
}
body.profile .personal .dropdown {
  position: absolute;
  top: 2px;
  right: 1px;
}
body.profile .personal .box {
  position: relative;
  left: 1px;
}
body.profile .personal form.light {
  display: none;
}
