html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Conv_FF_DIN_Condensed_Medium";
  src: url("../fonts/ff-din-condensed-med/FF_DIN_Condensed_Medium.eot");
  src: url("../fonts/ff-din-condensed-med/FF_DIN_Condensed_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ff-din-condensed-med/FF_DIN_Condensed_Medium.ttf") format("truetype"), url("../fonts/ff-din-condensed-med/FF_DIN_Condensed_Medium.svg#digitaldreamfat") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_FF_DIN_Condensed_Regular";
  src: url("../fonts/ff-din-condensed-reg/FF_DIN_Condensed_Regular.eot");
  src: url("../fonts/ff-din-condensed-reg/FF_DIN_Condensed_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ff-din-condensed-reg/FF_DIN_Condensed_Regular.ttf") format("truetype"), url("../fonts/ff-din-condensed-reg/FF_DIN_Condensed_Regular.svg#digitaldreamfat") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Museo_Slab_500italic";
  src: url("../fonts/museo-slab-italic/Museo_Slab_500italic.eot");
  src: url("../fonts/museo-slab-italic/Museo_Slab_500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-slab-italic/Museo_Slab_500italic.ttf") format("truetype"), url("../fonts/museo-slab-italic/Museo_Slab_500italic.svg#digitaldreamfat") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#000000, #ffffff);
  background-image: -moz-linear-gradient(#000000, #ffffff);
  background-image: -o-linear-gradient(#000000, #ffffff);
  background-image: -ms-linear-gradient(#000000, #ffffff);
  background-image: linear-gradient(#000000, #ffffff);
}

#layout {
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
}

#layout > header {
  width: 1040px;
  height: 122px;
  background: url('/images/temp/header.png?1325611863');
}

#layout > footer {
  width: 1040px;
  height: 88px;
  background: url('/images/temp/footer.png?1325611863');
}

.badge {
  height: 35px;
  padding-left: 10px;
  font-family: "Conv_FF_DIN_Condensed_Regular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  background: url('/images/badge/left.png?1325619235') top left no-repeat;
}
.badge span {
  display: block;
  height: 25px;
  padding: 5px 10px 5px 0;
  font-size: 18px;
  background: url('/images/badge/right.png?1325619898') top right no-repeat;
}

.grid {
  overflow: hidden;
  *zoom: 1;
  width: 1002px;
  margin: 0 auto;
  padding: 0 19px 19px;
}
.grid .group {
  clear: both;
}
.grid .group header {
  margin: 19px 0;
}
.grid .group header h1 {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 6px 14px;
  font-family: "Conv_FF_DIN_Condensed_Regular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  background: url('/images/patterns/bg_gray_diagonal.png?1325623130');
}
.grid .group header h1 {
  *display: inline;
}
.grid .box {
  position: relative;
  display: block;
  display: inline;
  float: left;
  width: 212px;
  min-height: 24px;
  margin: 0 16px 16px 0;
  padding: 12px 12px 7px;
  background: white;
  border: 1px solid #cdcdcd;
  -moz-box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
  -o-box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
}
.grid .box header {
  position: absolute;
  top: 5px;
  left: -6px;
  height: 34px;
  padding: 5px 10px 0 8px;
  font-family: "Conv_FF_DIN_Condensed_Medium", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #232323;
  font-size: 14px;
  background: url('/images/patterns/bg_green_header.png?1325632611') top left no-repeat;
}
.grid .box .edit {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  width: 40px;
  height: 18px;
  padding-top: 6px;
  font-family: "Conv_FF_DIN_Condensed_Regular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  background: #222222;
}
.grid .box .body {
  padding-bottom: 8px;
  font-family: "Arial", "Sans-serif";
  color: #343434;
  font-size: 13px;
  line-height: 1.5em;
}
.grid .box .thumbnail {
  position: relative;
  width: 212px;
}
.grid .box .thumbnail .image {
  display: block;
  line-height: 0;
}
.grid .box .thumbnail .image img {
  width: 212px;
}
.grid .box .thumbnail .edit {
  top: 0;
  right: 0;
  width: 40px;
  height: 19px;
  padding-top: 7px;
}
.grid .box .thumbnail p {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 6px 8px 7px;
  font-family: "Arial", "Sans-serif";
  font-size: 11px;
  line-height: 15px;
  color: white;
  background: #222222;
}
.grid .box form {
  display: none;
}
.grid .box form label {
  display: block;
  margin-bottom: 5px;
  font-family: "Arial", "Sans-serif";
  color: #888888;
  font-size: 12px;
  font-style: italic;
  line-height: 1.4em;
}
.grid .box form label.hint {
  color: #232323;
  margin-bottom: 8px;
  font-style: normal;
}
.grid .box form input {
  width: 202px;
  height: 16px;
  margin-bottom: 6px;
  padding: 3px 4px 4px;
  color: #444444;
  background: #fcfcfc;
  border: 1px solid #cdcdcd;
  -moz-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
.grid .box form textarea {
  width: 202px;
  min-height: 50px;
  margin-bottom: 6px;
  padding: 4px;
  color: #444444;
  line-height: 1.4em;
  background: #fcfcfc;
  border: 1px solid #cdcdcd;
  -moz-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
.grid .box form .add {
  display: block;
  margin-bottom: 12px;
  font-family: "Arial", "Sans-serif";
  color: #32a800;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
}
.grid .box form .add:hover {
  text-decoration: underline;
}
.grid .box form fieldset label {
  margin-bottom: 2px;
}
.grid .box form fieldset input {
  margin-bottom: 10px;
}
.grid .box form fieldset.template {
  display: none;
}
.grid .box form fieldset.buttons {
  padding: 5px 0 4px;
}
.grid .box form fieldset.buttons button {
  margin-right: 8px;
  padding: 5px 15px;
  font-family: "Conv_FF_DIN_Condensed_Regular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  cursor: pointer;
  background: #1f1f1f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 0;
}
.grid .box form fieldset.buttons button:hover {
  background: #4cb321;
}
.grid .box form fieldset.buttons .cancel {
  font-family: "Arial", "Sans-serif";
  color: #232323;
  font-size: 12px;
  text-decoration: none;
  text-decoration: none;
}
.grid .box form fieldset.buttons .cancel:hover {
  text-decoration: underline;
}
.grid .box footer {
  overflow: hidden;
  *zoom: 1;
  padding-top: 8px;
}
.grid .box footer a {
  padding-left: 17px;
  font-family: "Conv_FF_DIN_Condensed_Regular", "Arial", "Sans-serif";
  text-transform: uppercase;
  color: #656565;
  font-size: 12px;
  text-decoration: none;
}
.grid .box footer .comment {
  display: inline;
  float: left;
  background: url('/images/icons/16px/comment.png?1325623661') top left no-repeat;
}
.grid .box footer .like {
  display: inline;
  float: right;
  background: url('/images/icons/16px/like.png?1325623661') top left no-repeat;
}

.box.links ul {
  margin-right: -7px;
}
.box.links li {
  display: block;
  float: left;
  margin: 0 7px 7px 0;
}
.box.links li a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-position: top left;
  background-repeat: no-repeat;
}
.box.links li.about a {
  background: url('/images/icons/social/aboutme.png?1319748689');
}
.box.links li.blogger a {
  background: url('/images/icons/social/blogger.png?1319748689');
}
.box.links li.facebook a {
  background: url('/images/icons/social/facebook.png?1319748689');
}
.box.links li.flickr a {
  background: url('/images/icons/social/flickr.png?1319748689');
}
.box.links li.google a {
  background: url('/images/icons/social/google_plus.png?1319748689');
}
.box.links li.linked_in a {
  background: url('/images/icons/social/linkedin.png?1319748689');
}
.box.links li.pinterest a {
  background: url('/images/icons/social/pinterest.png?1319748689');
}
.box.links li.portfolio a {
  background: url('/images/icons/social/portfolio.png?1319748689');
}
.box.links li.tumblr a {
  background: url('/images/icons/social/tumblr.png?1319748689');
}
.box.links li.twitter a {
  background: url('/images/icons/social/twitter.png?1319748689');
}
.box.links li.website a {
  background: url('/images/icons/social/website.png?1319748689');
}
.box.links li.wordpress a {
  background: url('/images/icons/social/wordpress.png?1319748689');
}

.box.products .body {
  padding-top: 2px;
}
.box.products .body li {
  overflow: hidden;
  *zoom: 1;
  display: block;
  clear: both;
  margin-bottom: 12px;
}
.box.products .body li:last-child {
  margin-bottom: 6px;
}
.box.products .body li figure {
  display: inline;
  float: left;
  margin-right: 10px;
  padding: 1px;
  border: 1px solid #dcdcdc;
}
.box.products .body li img {
  display: block;
  width: 40px;
  height: 40px;
}
.box.products .body li figcaption {
  display: inline;
  float: left;
  max-width: 155px;
  padding-top: 5px;
}
.box.products .body li a {
  display: block;
  color: #343434;
  text-decoration: none;
  line-height: 1.2em;
  text-decoration: none;
}
.box.products .body li a:hover {
  text-decoration: underline;
}
.box.products .body li span a {
  display: block;
  clear: both;
  color: #a3a3a3;
  font-size: 11px;
  text-decoration: underline;
}
.box.products .body li span a:hover {
  color: #343434;
}

.box.seeking .body ul {
  list-style: disc;
  list-style-position: inside;
}
.box.seeking .body li {
  margin-bottom: 12px;
}
.box.seeking .body li:last-child {
  margin-bottom: 6px;
}

.box.sites .body li {
  margin-bottom: 12px;
}
.box.sites .body li:last-child {
  margin-bottom: 6px;
}
.box.sites .body li a {
  display: block;
  color: #343434;
  text-decoration: none;
  line-height: 1.2em;
}
.box.sites .body li span {
  display: block;
  clear: both;
  color: #a3a3a3;
  font-size: 11px;
  text-decoration: underline;
}

.box.sites form fieldset, .box.seeking form fieldset {
  padding: 10px 0;
  border-top: 1px solid #cdcdcd;
}
.box.sites form fieldset input, .box.seeking form fieldset input {
  margin-bottom: 5px;
}
.box.sites form fieldset:nth-child(2), .box.seeking form fieldset:nth-child(2) {
  border-top: 0;
}
.box.sites form fieldset.buttons, .box.seeking form fieldset.buttons {
  padding-top: 12px;
}

.box.with_header {
  padding-top: 40px;
}

a.button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-family: "Conv_FF_DIN_Condensed_Regular", "Arial", "Sans-serif";
  text-transform: uppercase;
  text-decoration: none;
  color: #4c4b4b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#cecece, #f7f7f7);
  background-image: -moz-linear-gradient(#cecece, #f7f7f7);
  background-image: -o-linear-gradient(#cecece, #f7f7f7);
  background-image: -ms-linear-gradient(#cecece, #f7f7f7);
  background-image: linear-gradient(#cecece, #f7f7f7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #bebebe;
}
a.button {
  *display: inline;
}

a.button.small {
  padding: 4px 8px;
}

nav.page {
  height: 37px;
  padding: 0 19px;
  background: #f3f3f3;
}
nav.page a.button.small {
  margin-top: 5px;
}

.cover {
  height: 282px;
  padding: 19px;
  -moz-box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
  -webkit-box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
  -o-box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
  box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.4);
}
.cover .user {
  display: inline-block;
  padding: 12px;
  background: rgba(0, 0, 0, 0.85);
}
.cover .user img {
  display: inline;
  float: left;
  width: 114px;
  height: 114px;
  margin-right: 12px;
}
.cover .user .info {
  display: inline;
  float: left;
}
.cover .user header {
  display: inline;
  float: left;
  clear: both;
  margin: 0 24px 7px 0;
}
.cover .user h1, .cover .user h2 {
  font-family: "Conv_FF_DIN_Condensed_Regular", "Arial", "Sans-serif";
  text-transform: uppercase;
}
.cover .user h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 3px;
}
.cover .user h2 {
  color: #999999;
  font-size: 24px;
}
.cover .user .quote {
  display: block;
  clear: left;
  max-width: 320px;
  padding: 5px 0 0 27px;
  line-height: 1.4em;
  background: url('/images/icons/quote.png?1325618598') top left no-repeat;
  font-family: "Conv_Museo_Slab_500italic", Georgia, Serif;
  color: #cacaca;
}
.cover .user .badge {
  display: inline;
  float: right;
}

body.profile #page {
  background: #f3f3f3;
}
body.profile .imagery {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  width: 762px;
}
body.profile .imagery .boxes {
  position: relative;
  left: 1px;
  width: 762px;
}
body.profile .personal {
  display: inline;
  float: right;
  width: 240px;
  padding-top: 74px;
}
body.profile .personal .box {
  position: relative;
  left: 1px;
}
